    html {
        background-image: #60DA7F;
        background-image: -moz-linear-gradient(top, #60DA7F 0%, #47AE69 50%, #248883 100%);
        background-image: -webkit-linear-gradient(top, #60DA7F 0%, #47AE69 50%, #248883 100%);
        background-image: linear-gradient(to bottom, #60DA7F 0%, #47AE69 50%, #248883 100%);
        background-size: cover;
    }

    body {
        color: #0F2A3B;
        margin: 0px 0px;
    }

    .hideOverflow {
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .title {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }

    .titleText {
        margin: auto;
    }

    p {
        font-family: 'Lato', sans-serif;
    }

    label {
        font-family: 'Lato', sans-serif;
        display: block;
    }

    .intro {
        margin: 10px 150px;
        background-color: #aff1ab32;
        padding: 10px 20px;
    }

    .container {
        display: flex;
        margin: 30px 180px;
        background-color: #aff1ab32;
        padding: 30px 20px;
    }

    .blueBG {
        background-color: #1d0fa15b;

    }

    .blue {
        background-color: #13049931;
        height: 100%; /* 100% Full-height */
        width: 100%; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        overflow-y: hidden;
    }

    .myCanvas {
        overflow: hidden;
    }

    .container-side {
        width: 50%;
        padding: 14px 16px;
        float: right;
    }

    .sliderOutput {
        display: inline-block;
    }

    .output {
        background-color: #aff1ab32;
        padding: 14px 16px;
        margin-top: 5%;
    }

    .resetButton {
        margin-top: 8%;
    }

    .invisCursor a:hover {
        cursor: none;
    }

    .topnav {
        background-color: #0F2A3B;
        overflow: hidden;
    }
      
    /* Style the links inside the navigation bar */
    .topnav a {
    float: left;
    color: #aef1ab;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    }
    
    /* Change the color of links on hover */
    .topnav a:hover {
    background-color: #ddd;
    color: black;
    }
    
    /* Add a color to the active/current link */
    .topnav a.active {
    background-color: #47ae69;
    color: white;
    }

    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        margin: 0px;
        z-index: 2; /* Stay on top */
        top: 0; /* Stay at the top */
        right: 0;
        background-color: #aff1abbb;
        overflow: hidden;
        padding-top: 30px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    .sidenavInterior {
        padding: 8px 8px 8px 32px;
    }
    
    .sidenav label {
        font-family: 'Lato', sans-serif;
        text-decoration: none;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        text-decoration: none;
    }


    input[type=text], select {
        width: 75%;
        padding: 12px 20px;
        margin: 8px 0;
        border-radius: 4px;
        display: inline-block;
        box-sizing: border-box;
    }

    button[type=button] {
        width: 75%;
        background-color: #248883;
        color: #c9f8c6;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-family: 'Lato', sans-serif;
        display: block;
    }

    button[type=button]:hover {
        background-color: #1c6b67;
      }