    html {
        background-image: #60DA7F;
        background-image: -moz-linear-gradient(top, #60DA7F 0%, #47AE69 50%, #248883 100%);
        background-image: -webkit-linear-gradient(top, #60DA7F 0%, #47AE69 50%, #248883 100%);
        background-image: linear-gradient(to bottom, #60DA7F 0%, #47AE69 50%, #248883 100%);
        background-size: cover;
        height: 100%;
    }

    body {
        font-family: "Comic Sans MS", cursive, sans-serif;
    }